body {
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 16px;
  overflow: hidden;
}

.panzoom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.metadata {
  position: absolute;
  left: 20px;
  top: 80px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  background: rgba(0,0,0,0.9);
  padding: 1rem;
  z-index: 20;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.metadata.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.metadata h2 {
  display: block;
  width: 40vh;
  margin-top: 0;
}
.metadata .metadata-image {
  display: block;
  width: 40vh;
  height: 20vh;
  background: left top no-repeat;
  background-size: contain;
}
a.button {
  color: white;
  background: #004BB4;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem 0;
  text-decoration: none;
}
a.button:hover {
  background: #0c5ed1;
}
a.close-link,
a.toggle-link {
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  padding: 0 1rem;
  line-height: 40px;
  margin: 0;
}

.highlight {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  outline: 10px solid rgba(255,0,0,0.8);
  opacity: 0;
  box-sizing: border-box;
  transform-origin: 0 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
  z-index: 10;
  /* z-index: 1000; */
}
.highlight.active {
  opacity: 1;
  display: block;
}
.highlight h2 {
  position: absolute;
  bottom: 100%;
  width: 200%;
  left: -50%;
  background: rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  opacity: 0;
  transition: opacity 0.5 ease-in-out;
  display: none;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.5;
  transform-origin: 50% 100%;
}
.highlight h2.active {
  opacity: 1;
  display: block;
}

.filters {
  position: absolute;
  width: 100%;
  height: 27vh;
  bottom: 0;
  background: rgba(0,0,0,0.95);
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s ease-in-out;
  z-index: 30;
}
.filters.active {
  transform: translate3d(0, 0, 0);
}
.filters a.toggle-link {
  left: auto;
  right: 20px;
  top: -60px;
  height: 60px;
  padding: 0 2rem;
  line-height: 60px;
  font-size: 2vmin;
  background: #004BB4;
}
.filters a.toggle-link:hover {
  background: #0c5ed1;
}
.filters h2 {
  margin-top: -30px;
  font-size: 1rem;
  color: #aaa;
}
.filters h2 .button {
  font-size: 0.9rem;
  padding: 0.1rem 0.2rem;
  margin: 0 0 0 0.5rem;
  display: none;
}
.filters h2 .button.active {
  display: inline-block;
}
.datepicker-wrapper {
  position: absolute;
  width: 40%;
  height: calc(100% - 60px);
  top: 45px;
  right: 20px;
}
.datepicker {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(245, 245, 245, 0.9);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
}
.datepicker line,
.datepicker path {
  stroke: black;
}
.datepicker text {
  fill: black;
}
.datepicker-container {
  position: absolute;
}
.datepicker-window {
  position: absolute !important;
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.ui-resizable-handle {
  position: absolute;
  height: 100%;
  width: 20px;
  border: 2px solid #c1a71f;
  background: rgba(244,215,66,0.5);
  left: -20px;
  top: 0;
  cursor: ew-resize !important;
  box-sizing: border-box;
}
.ui-resizable-e {
  left: auto;
  right: -20px;
}
.ui-resizable-handle .year {
  background: black;
  color: white;
  text-align: center;
  width: 50px;
  height: 25px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -28px;
  line-height: 25px;
}
.year:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  bottom: -5px;
}
.resize-bg {
  position: absolute;
  top: 0;
  height: calc(100% + 4px);
  width: 0;
  background: rgba(0,0,0,0.4);
  right: 100%;
}
.ui-resizable-e .resize-bg {
  right: auto;
  left: 100%;
}

.treemap-wrapper {
  position: absolute;
  width: 55%;
  height: calc(100% - 60px);
  top: 45px;
  left: 20px;
}
.treemap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.treemap .node {
  overflow: hidden;
  cursor: pointer;
}
.treemap g.node:first-child {
  display: none;
}
.treemap rect {
  fill-opacity: 0.4;
}
.treemap .node.inactive rect {
  fill-opacity: 0.2;
}
.treemap .node:hover rect,
.treemap .node.inactive.active rect,
.treemap .node.active rect {
  fill-opacity: 0.6;
}
.treemap text {
  fill: white;
  font-size: 0.9rem;
}
.treemap text tspan:last-child {
  font-size: 0.8rem;
  fill: #ccc;
}

.debug {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding: 0.5rem 1rem;
  width: 20%;
  display: none;
}
.debug.active {
  display: block;
}
